/* 
////////////////// {{ *  }}///////////////////
*/
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}
/* 
////////////////// {{ Header  }}///////////////////
*/
.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  opacity: 0.8;
}
nav {
  display: flex;
  background-color: #ffffffd9;
  height: 9vh;
}

.logo {
  z-index: 99;
  margin-left: 20%;
  height: auto;
  vertical-align: middle;
}
.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 10%;
}
.mobile-menu {
  display: none;
}
.nav li {
  margin-right: 30%;
}
.nav a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 1.5rem 0;
  font-size: 1rem;
}
.content-container::before {
  content: url(images/overlay.png);
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: -100;
  transform: rotate(-180deg);
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.content-container {
  color: #fff;
  width: 100%;
  height: 91vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 0.3rem;
  text-align: center;
}
.main-content h1 {
  font-family: poppins;
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

.main-content p {
  font-size: 1.2rem;
}

.main-content button {
  margin: 3%;
  min-width: 30%;
  color: rgb(255, 188, 19);
  font-weight: 700;
  display: inline-flex;
  padding: 0.6rem 1rem;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
}
.main-content button a {
  color: inherit;
  text-decoration: none;
}

.main-content .form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-content .form input[type="text"],
.main-content .form input[type="password"] {
  width: 300px;
  height: 40px;
  padding: 1em;
  outline: none;
  margin: 1em;
}
.main-content .form textarea {
  color: rgb(255, 188, 19);
  width: 300px;
  height: 100px;
  margin: 1em;
  padding: 1em;
  outline: none;
}
.main-content .form button {
  color: rgb(255, 188, 19);
  width: 300px;
  height: 40px;
  margin: 1em;
  padding: 1em;
  font-size: large;
  font-weight: bold;
}
@keyframes slide {
  0% {
    background-image: url("./images/slider1.jpg");
  }
  20% {
    background-image: url("./images/slider1.jpg");
  }
  20.01% {
    background-image: url("images/slider2.jpg");
  }
  40% {
    background-image: url("images/slider2.jpg");
  }
  40.01% {
    background-image: url("images/slider3.jpg");
  }
  60% {
    background-image: url("images/slider3.jpg");
  }
  60.01% {
    background-image: url("images/slider4.jpg");
  }
  80% {
    background-image: url("images/slider4.jpg");
  }
  80.01% {
    background-image: url("images/slider5.jpg");
  }
  100% {
    background-image: url("images/slider5.jpg");
  }
}

/* 
////////////////// {{ Main  }}///////////////////
*/
main {
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
}

.main-section-heading {
  font-size: 2em;
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
}

.main-section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.main-section-profile div {
  width: 30%;
  text-align: left;
  margin-top: 10%;
}

.profile-title {
  font-weight: 100;
  font-size: 0.8em;
  opacity: 0.9;
}
.profile-title-2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-p {
  line-height: 2;
}
.profile-dev {
  background-color: whitesmoke;
  padding: 2em;
  margin-bottom: 1em;
}

.profile-dev:nth-child(3) {
  padding: unset;
}

.responsive {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1em; */
}
/*
////////////////// {{ About us }} ///////////////////
*/

.about-us-header {
  background-image: url(images/breadcrumb-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}
.who {
  font-weight: 500;
  font-size: 3rem;
  min-width: 100%;
  height: 30vh;
}
.who p {
  margin: 10% 0 0 10%;
}
.section {
  background-color: white;
  margin: 2em auto;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.grid-section {
  width: 82%;
  margin: 0 auto;
  padding: 7% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5% 2%;
}
.main-image img {
  width: 100%;
  height: auto;
}
.main-image {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.head-p {
  font-size: 2rem;
}
.body-p {
  line-height: 25px;
  margin-top: 20px;
}
.grid-element {
  width: 100%;
  height: auto;
}
.main-text2,
.list {
  padding: 5%;
}
.list-p1 {
  font-weight: 600;
  font-size: 1.3rem;
}
.list-p {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 20px;
}
.main-text2,
.list {
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.1);
}
.list ul li {
  list-style-type: none;
}
.CTA {
  text-align: center;
  margin: 2em;
}
/* 
////////////////// {{ Timer  }}///////////////////
*/
.timer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.timer div {
  border: 2px solid rgb(255, 188, 19);
  width: 200px;
  height: auto;
  padding: 5%;
  margin: 1%;
  border-radius: 50%;
}
.timer div h3 {
  font-size: 2em;
  text-align: center;
}
.timer div p {
  font-weight: 100;
  font-size: 10px;
  margin-top: 5%;
  text-align: center;
}
/* 
////////////////// {{ Mobile Responsiveness  }}///////////////////
*/
@media screen and (max-width: 850px) {
  nav {
    height: 10vh;
    width: 100%;
    flex-wrap: wrap;
  }
  .logo {
    z-index: 99;
    margin-left: 5%;
    height: auto;
    vertical-align: middle;
  }
  .nav {
    min-width: 100%;
    display: none;
    flex-direction: column;
    z-index: 199;
    margin: 10vh 0;
    position: absolute;
  }
  .nav li {
    width: 100%;
    padding: 1rem 20%;
    background-color: #ffffffd9;
    margin-right: auto;
  }
  .nav li a {
    color: rgb(255, 188, 19);
  }
  .mobile-menu {
    display: flex;
    font-size: 2em;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.3em;
    flex-grow: 2;
  }
  .show {
    display: block !important;
  }
}

@media screen and (max-width: 540px) {
  nav {
    height: 10vh;
    width: 100%;
    flex-wrap: wrap;
  }
  .content-container::before {
    content: url(images/overlay.png);
    left: unset;
    top: unset;
    transform: unset;
    overflow: hidden;
    width: 100%;
  }
  .main-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .main-content p {
    line-height: 1.5;
  }
  .main-content button {
    margin: 3%;
    width: 80%;
    padding: 10px 15px;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
  }
  .logo {
    z-index: 99;
    margin-left: 5%;
    height: auto;
    vertical-align: middle;
  }
  .nav {
    min-width: 100%;
    display: none;
    flex-direction: column;
    z-index: 199;
    margin: 10vh 0;
    position: absolute;
  }
  .nav li {
    width: 100%;
    padding: 1rem 20%;
    background-color: #ffffffd9;
    margin-right: auto;
  }
  .nav li a {
    color: rgb(255, 188, 19);
  }
  .mobile-menu {
    display: flex;
    font-size: 2em;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.3em;
    flex-grow: 2;
  }
  .show {
    display: block !important;
  }
  .main-section-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-section-profile div {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
  .main-text {
    text-align: center;
    display: block;
    width: 100%;
  }
  .main-text p {
    text-align: justify;
  }
  .grid-element {
    width: 100%;
    grid-column: 1/-1 !important;
  }
  .main-image {
    grid-row: 1 / 2 !important;
  }
  .main-text {
    grid-row: 2/3 !important;
  }
  .list {
    background-color: #fff;
    height: max-content;
    padding: 2em;
    width: 100%;
    grid-row: 3/4 impo !important;
  }
  .grid-section {
    grid-template: repeat(3, 1fr) / repeat(1, auto) !important;
    grid-gap: 2%;
    padding: 5% 0;
  }
  .main-text {
    padding: 2em;
    background-color: #fff;
  }
  .timer div {
    padding: 6%;
    text-align: center;
    margin: 0.3em;
  }
  /* .main-content .form button {
    width: 90% !important;
    margin: 0 auto;
  } */
}
